<nav th:fragment="navigation" class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="/"><img alt="car picture" src="/img/car.png" class="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <th:block th:if="${@loggedUser.id == null}">
      <ul class="navbar-nav mr-auto col-12 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users/register}">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/users/login}">Login</a>
        </li>
      </ul>
    </th:block>
    <th:block th:unless="${@loggedUser.id == null}">
      <ul class="navbar-nav mr-auto col-12 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/brands/all}">All Brands</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/offers/add}">Add Offer</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/offers/all">All Offers</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/">Action</a>
            <a class="dropdown-item" href="/">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Something else here</a>
          </div>
        </li>

        <li class="nav-item">
          <form method="POST" th:action="@{/users/logout}"  class="form-inline my-2 my-lg-0 border px-3">
            <button type="submit" name="submit" value="value" class="link-button">Logout</button>
          </form>

        </li>
      </ul>
    </th:block>
  </div>
</nav>