<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>


<body>

<div th:replace="~{fragments/navbar :: navbar}">
  Navbar
</div>

<div class="container">
  <h2 class="text-center text-white">Login</h2>
  <form
      th:method="post"
      th:action="@{/users/login}"
        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
    <div class="form-group">
      <label for="username" class="text-white font-weight-bold">Email</label>
      <input id="username"
             name="username"
             type="text" min="2" max="50"
             class="form-control"
             placeholder="Email"/>
    </div>
    <div class="form-group">
      <label for="password" class="text-white font-weight-bold">Password</label>
      <input
          id="password"
          name="password"
          type="password" min="2"
          max="20" class="form-control"
          placeholder="Password"/>

    </div>

    <p class="errors alert alert-danger">
      Invalid username or password.
    </p>

    <div class="row">
      <div class="col col-md-4">
        <div class="button-holder d-flex">
          <input type="submit" class="btn btn-info btn-lg" value="Login"/>
        </div>
      </div>
    </div>
  </form>
</div>

<div>
  <footer></footer>
</div>
</body>
</html>
