<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello</title>
</head>
<body>

  Hello, <th:block th:text="${userName}"></th:block>!

  <p>
    Welcome to Mobilele!
    Later we will send here and activation link :-) as the students want :-)
  </p>

  <p>
  Best,
  Mobilele!
  </p>

</body>
</html>