<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Login</h2>

    <form th:method="POST"
          th:action="@{/users/login}"
          th:object="${userLoginForm}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="form-group">
            <label for="username"
                   class="text-white font-weight-bold">
                Username
            </label>

            <input value="username"
                   id="username"
                   name="username"
                   type="text"
                   min="2"
                   max="50"
                   class="form-control"
                   placeholder="Username"
                   th:value="*{username}"/>
        </div>

        <div class="form-group">
            <label for="password" class="text-white font-weight-bold">Password</label>
            <input value="password" id="password" name="password" type="password" min="2"
                   max="20" class="form-control"
                   placeholder="Password"
                   th:value="*{password}"/>

        </div>

        <p th:if="${#fields.hasErrors('*')}"
           class="errors alert alert-danger">
            Invalid username or password.
        </p>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>
</body>
</html>
