<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <span th:replace="~{/fragments/head}"></span>
</head>

<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>

<div class="container">

    <h2 class="text-center text-white">Register User</h2>

    <form th:method="POST"
          th:action="@{/users/register}"
          th:object="${userRegisterForm}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">
            <div class="form-group col-md-6 mb-3">

                <label for="firstName"
                       class="text-white font-weight-bold">First Name</label>

                <input id="firstName"
                       name="firstName"
                       type="text"
                       min="2"
                       max="20"
                       class="form-control"
                       placeholder="First name"
                th:value="*{firstName}"/>

                <p th:if="${#fields.hasErrors('firstName')}"
                   class="errors alert alert-danger">
                    First name is required.
                </p>

            </div>

            <div class="form-group col-md-6 mb-3">

                <label for="lastName"
                       class="text-white font-weight-bold">Last Name</label>

                <input id="lastName"
                       name="lastName"
                       type="text"
                       min="2"
                       max="20"
                       class="form-control"
                       placeholder="First name"
                       th:value="*{lastName}"
                />

                <p th:if="${#fields.hasErrors('lastName')}"
                   class="errors alert alert-danger">
                    Last name is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">

                <label for="username"
                       class="text-white font-weight-bold">
                    Username
                </label>

                <input id="username"
                       name="username"
                       type="text"
                       min="2"
                       max="20"
                       class="form-control"
                       placeholder="First name"
                       th:value="*{username}"/>
                <p th:if="${#fields.hasErrors('username')}"
                   class="errors alert alert-danger">
                    Username is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="password"
                       class="text-white font-weight-bold">
                    Password
                </label>
                <input id="password"
                       name="password"
                       type="password"
                       min="2"
                       max="20"
                       class="form-control"
                       placeholder="Password"
                       th:value="*{password}"/>
                <p th:if="${#fields.hasErrors('password')}"
                   class="errors alert alert-danger">
                    Password is required.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">

                <label for="confirmPassword"
                       class="text-white font-weight-bold">
                    Confirm Password
                </label>

                <input id="confirmPassword"
                       name="confirmPassword"
                       type="password"
                       min="2"
                       max="20"
                       class="form-control"
                       placeholder="Password"
                       th:value="*{confirmPassword}"/>

                <p th:if="${#fields.hasErrors('confirmPassword')}"
                   class="errors alert alert-danger">
                    Passwords does not match.
                </p>

            </div>
        </div>

        <div class="form-group">
            <label class="text-center text-white font-weight-bold" for="roles">Roles</label>
            <select id="roles"
                    class="form-control"
                    name="role"
                    multiple>

                <tr th:each="role: ${roles}">
                    <option th:text="${role.role}" th:value="${role.role}"></option>
                </tr>

            </select>

            <p th:if="${#fields.hasErrors('role')}"
               class="errors alert alert-danger">
                Selecting a role is required.
            </p>

        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
