<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>



<div class="container-fluid">
    <h2 class="text-center text-white mt-5">All Offers</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <div class="card-img-top-wrapper">
                <img class="card-img-top" src="/" alt="Car image">
            </div>
            <div class="card-body pb-1">
                <h5 class="card-title">
                    Offer year Brand name Model name</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span>• Mileage</span></div>
                    <div class="card-text"><span>• Price</span></div>
                    <div class="card-text"><span>• Engine type</span></div>
                    <div class="card-text"><span>• Transmission type</span></div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" href="/">Details</a>
            </div>
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
