<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">

  <a class="navbar-brand" href="/"><img alt="car picture" th:src="@{/images/car.png}" class="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  </div>
</nav>

</body>
</html>